body{
    background-color: hsl(27, 66%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 480px;
    padding: 0 20px;
}

@media (max-width: 480px ) {
    .wrapper{
        width: 400px;
        padding: 0 10px;
    }
}
