.Header{
    background-color: hsl(10, 79%, 65%);
    width: 480px;
    border-radius: 15px;
    margin-bottom:20px;
}

.Header-inside{
    display: flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
}

.Header-title{
    display: flex;
    flex-direction: column;
    color: white;
}

.Header-title-spending{
    font-size: 24px;
    font-weight: bold;
}
