.Main{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
}

.l_row{
    display: flex;
    gap:10px;
}

.l_col{
    flex-basis:0;
    flex-grow:1;
}

.Spending-graph{
    height: 200px;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    justify-content: flex-end;
}

.Spending-graph-height{
    border-radius: 7px;
    background-color: hsl(10, 79%, 65%);
    width:100%;
    cursor: pointer;

}

.Spending-graph-height.high{
    background-color: hsl(186, 34%, 60%);
}

.Spending-graph-height:hover{
    opacity: 0.8;
}


.l_col .day{
    text-align: center;
}

.spending-graph-amount{
    background-color: hsl(25, 47%, 15%);
    color: white;
    font-weight: bold;
    font-size:11px;
    padding: 10px 8px;
    text-align: center;
    /* border-radius: 5px; */
}


.Footer{
    border-top: 3px solid #eaeaea;
    padding-top: 20px;
    margin: 20px 0;
}

.Footer .container{
    display:flex;
    justify-content: space-between;
}

.Footer .container-contetns{
    display: flex;
    flex-direction: column;
}

.Footer .container-side{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Footer .total__price{
    font-size: 24px;
    font-weight: bold;

}

.Footer .rate{
    font-weight: bold;
}
