.Main{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

ul{
    margin:0;
    padding:0;
}

li{
    list-style-type: none;
}

.l_row{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.l_col{
    flex-basis:0;
    flex-grow:1;
}

.Spending-graph{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Spending-graph-height{
    border-radius: 7px;
    background-color: hsl(10, 79%, 65%);
    width:100%;
    cursor: pointer;

}

.Spending-graph-height:hover{
    background-color: hsl(186, 34%, 60%);
}

.l_col .day{
    text-align: center;
}

.spending-graph-amount{
    background-color: red;
    font-size:14px;
}

